#symbols > * {
    display: inline-block;
    width: 20%;
}

.flex-container{
    display: flex;
    border-top: 1px solid black;
}

.flex-container > div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    text-align: center;
}

html, body{
    height: 100%;
    background-color: #d4d4de;
}